
body{
  font-family: "'Satisfy', cursive;";
  text-align: center;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "'Satisfy', cursive;";
}

p{
  font-family: "'Satisfy', cursive;";


}


.section-heading{
  font-size: 3rem;
  line-height: 1.5;
}


/* containers */
.container-fluid{
  padding: 7% 15%;

}


a {
  background-color: #7DF9FF ;
  color: black;

}






.wrapper {
  margin-right: auto; /* 1 */
  margin-left:  auto; /* 1 */

  max-width: 960px; /* 2 */

  padding-right: 10px; /* 3 */
  padding-left:  10px; /* 3 */
}


* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  background: radial-gradient(ellipse farthest-side at 100% 100%, #d4faf6 1%, #85d8ce 30%, #085078 120%);
}

/* Hide the images by default */
.mySlides{
  display:table;
    /* text-align: justify; */
    width:100%;
height:50%;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #ff0000;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
  color:#ff0000;
}
.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
  color:#ff0000;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: #ff0000;
}

/* Caption text */
.text {
  color: #39FF14;
  font-size: 15px;
  padding: 8px 12px;
  position: relative;
  bottom: 5px;
  /* width: 57%; */
  text-align: center;
  /* display: inline-block; */
  background-color: black;
  display:table-row;
}


/* Number text (1/3 etc) */
.numbertext {
  color: yellow;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #4D4DFF;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color:  #ff0000;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1000s;
  animation-name: fade;
  animation-duration: 1000s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}











/* mak images fill their container*/
img {
  max-width: 100%;
}

img:hover {
  opacity: 0.5;
  cursor: pointer;
}

/* CSS Grid*/
.img-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 5px;
}

/* Media Query for changing grid on bigger screens*/
/* Bigger than Phones(tablet) */
@media only screen and (min-width: 750px) {
  .img-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
/* Bigger than Phones(laptop / desktop) */
@media only screen and (min-width: 970px) {
  .img-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

.cursive{
  font-family: 'Dancing Script', cursive;
  font-size: 28px;
}

body {
  background-color: #d2b48c;
  background-image: linear-gradient(315deg, #d2b48c 0%, #f5deb3 74%);
  
 }
